section{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

h2{
    font-size: 26px;
}
#s3{
    border-radius: 25px;
    height: 500px;
    width: 500px;
}

#s3:hover{
        box-shadow:rgb(87, 227, 255) 4px 4px 66px;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
p{
    font-size: 21px;
}
