.lightgreen {
    color: #85DCBA;
}

.lightviolet {
    color: #D9CCEA;
}

.darkgreen {
    color: #0C272F;
}

.green{
    color: #066D5F;

}
html {
    overflow: hidden;
    /* height: 100vh; */
    /*font-weight: bold*/
}

body {
    margin: 0;
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    background-color: #0C272F;
    /* Vertikal Scrollen und Snap Points streng einhalten */
}
@media screen and (max-width: 1200px) {
    body{
        overflow: hidden;
    }
    #restContent {
        display: none;
    }
    .sacramento-smaller {
        font-family: "Sacramento", cursive;
        font-size: 2em;
    }
    .montserrat-regular {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 1.25em;
    }
    .warning {
        padding: 10px;
        background-color: #066D5F;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
    } 

    /*.sacramento-regular {
        font-family: "Sacramento", cursive;
        font-size: 30px;
        margin-top: 30px;
    }
    .firstPicture {
        max-width: 150px;
        height: auto;

    }*/

}
@media screen and (min-width: 1200px) {
    .warning {
        display: none; 
    }
    .sacramento-regular {
        font-family: "Sacramento", cursive;
        font-size: 3.2em;
    }
      
    .montserrat-regular {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 1.25em;
    }
    .merriweather-sans-regular {
        font-family: "Merriweather Sans";
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font: 1.25em sans-serif;
    }
    .merriweather-sans-light {
        font-family: "Merriweather Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: light;
        font-size: 1.25em;
    }
    .section {
        padding: 50px;
        background-color: #0C272F;
        height: 100vh; 
        scroll-snap-align: start;
        scroll-behavior: smooth;
    
    }
    
    /* navbar.css */
    .navbar{
        margin-top: 10px;
        margin-right: 10px;
    }
    .dot {
        width: 10px; /* Breite der Punkte */
        height: 10px; /* Höhe der Punkte */
        border-radius: 50%; /* Kreisform */
        background-color: #a4a4a4; /* Farbe der Punkte */
        margin: 20px; /* Abstand zwischen den Punkten */
      }
    
    .dot:hover {
        /* Farbe des Punktes beim Hover */
        background-color: #85DCBA; /* Hier die gewünschte Hover-Farbe einstellen */
    }
    .animated-text {
        overflow: hidden; /* Verstecke den Text, bis er animiert wird */
        white-space: nowrap; /* Verhindere, dass der Text umgebrochen wird */
        animation: typing 3s steps(20, end), blink-caret .75s step-end infinite;
        line-height: normal; /* Setze die Zeilenhöhe auf normal */
      } 
      
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      
      .fade-in {
        opacity: 0;
        animation: fade-in-animation 1.5s forwards;
      }
      
      .delay-1 {
        animation-delay: 0.5s; /* Verzögerung für das erste Element */
      }
      
      .delay-3 {
        animation-delay: 3s; /* Verzögerung für das dritte Element */
      }
      
      .delay-4 {
        animation-delay: 6s; /* Verzögerung für das vierte Element */
      }
      
      .delay-5 {
        animation-delay: 9s; /* Verzögerung für das fünfte Element */
      }
      
      @keyframes fade-in-animation {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
    }  
    
    .fade-in-image {
        opacity: 0;
        animation: fade-in-animation 3s forwards;
    }
      
    
    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        }
        
    .div1 { 
        grid-area: 1 / 1 / 2 / 5; 
    }
    .div2 {
        grid-area: 2 / 1 / 4 / 4;
        display: flex;
        justify-content: center;
      }
      
    .div3 {
        grid-area: 2 / 4 / 4 / 7;
        background-color: #066D5F;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        max-height: 250px;
        max-width: 550px;
      }
    .div4 { grid-area: 4 / 1 / 6 / 4; }
    .div5 { grid-area: 4 / 4 / 6 / 7; }
    
    .zitat {
        padding: 10px;
    }
      
    .firstPicture {
        max-width: 45%;
        height: auto;
    }
    
    
    #section2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .section2 {
        max-width: 40%;
        height: auto;
        border-radius: 25px;
        filter: grayscale(100%);
        opacity: 0.5;
    }
    #section3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;
    
    }
    .card{
        height: 175px;
        padding: 60px;
        background-color: #066D5F;
        color: #85DCBA;
        font-family: 'Montserrat', sans-serif;
        border-radius: 25px;
    }
    .custom-card:hover{
        background-color: #85DCBA !important;
        color: #066D5F !important;
    }
    
    #section4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;
        font-size: 1.25em;
    }
    #einführung{
        background-color: #066D5F;
        padding: 3%;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #einführung:hover{
        background-color: #85DCBA;
        color:#066D5F;
    }
    #section5{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20%;
        font-size: 24px;
        width: 100vw; 
    }

    .custom-card2{
        height: 475px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0; 
        border-bottom-right-radius: 0;
    }
    .p6 {
        padding-bottom: 5%;
        font-size: 1.5em;
    }
    .card a {
        color: inherit; /* Links innerhalb der Karte erben die Textfarbe */
        text-decoration: none;
    }
    .flex-container{
        display: flex; 
        justify-content: center;
        gap: 300px;
        padding-top: 10%;
    }
    .p7{
        font-size: 1.5em;
        margin-top: 5%;
    }
    #übersetzen, #shortcuts{
        background-color:rgba(217, 204, 234, 0.75);
        ;
        padding: 3%;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #0C272F;
        font-size: 28px;
    }
    #übersetzen:hover, #shortcuts:hover{
        background-color: #85DCBA;
        color:#066D5F;
    }



    
    .bot {
        position: absolute;
        bottom: 25px; /* Abstand vom unteren Rand */
        right: 25px; /* Abstand vom rechten Rand */
        width: 50px; /* Breite des Fragezeichen-Bildes */
        height: 50px; /* Höhe des Fragezeichen-Bildes */
        background-size: cover; /* Skaliert das Bild, um den gesamten Bereich zu bedecken */
    }
}


