#section7 {
    font-size: 22px;
    padding-top: 4%;

}

.custom-card {
    padding: 8%;
}

.custom-card3 {
    padding: 1%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 99%;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;

    color: #eefaf8;
}

p {
    padding-top: 1%;
}

.custom-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 3%;
    left: 3%;
    width: 11%;
    height: 7%;
    font-weight: 500;
    border-radius: 10px;
}

#zurueckButton {
    position: absolute;
    left: 85%;
    border-radius: 10px;
}