html{
    overflow: hidden;
}

.custom-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 5%;
    left: 5%;
    width: 11%;
    height: 7%;
    font-size: 1.1em;
    font-weight: 500;
    border: 25px;
}

.custom-card {
    padding-top: 15%;
}

.container {
    font-weight: 400;
}
